<div class="container">
<app-navbar></app-navbar>

<div class="container2">
<mat-form-field class="searchContainer" appearance="fill">
  <mat-label>Cerca...</mat-label>
  <input matInput type="text" [(ngModel)]="searchTerm" (input)="search()">
  <a class="search-title" *ngFor="let film of filteredFilms">{{ film.Title }}</a>
</mat-form-field>

<div *ngIf="isLoading" class="loader">
  <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="filteredFilms; else filmContent">
  <div fxLayout="row wrap" class="container-film" *ngIf="!isLoading">
    <div fxFlex="30%" *ngFor="let film of filteredFilms">
      <mat-card class="cardFILM">
        <mat-card-header>
          <h2>{{ film.Title }}</h2>
          <button mat-icon-button (click)="toggleFavorite(film)">
            <mat-icon>{{ isFavorite(film) ? 'favorite' : 'favorite_border' }}</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-subtitle>
          <h4>Production year: {{ film.Year }}</h4>
        </mat-card-subtitle>
        <img mat-card-lg-image [src]="film.Images" alt="" width="200">
        <button class="container-film-button" (click)="setCardFilm(film)"><a routerLink="/detail">View movie</a></button>
        <mat-card-content>
          <p>{{ film.Plot }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>

<ng-template #filmContent>
  <div fxLayout="row wrap" class="container-film" *ngIf="!isLoading">
    <div fxFlex="30%" *ngFor="let film of cardFilm">
      <mat-card class="cardFILM">
        <div class="row">
          <img class="cardFILM-img" mat-card-lg-image [src]="film.Images" alt="">
          <div class="column">
            <mat-card-header class="cardFILM-header">
              <h2>{{ film.Title }}</h2>
              <button mat-icon-button (click)="addFavorite(film)">
                <mat-icon>{{ isFavorite(film) ? 'favorite' : 'favorite_border' }}</mat-icon>
              </button>
            </mat-card-header>
            <mat-card-subtitle>
              <h4>Production year: {{ film.Year }}</h4>
            </mat-card-subtitle>
            <button class="container-film-button" (click)="setCardFilm(film)">View movie</button>
            <mat-card-content>
              <p>{{ film.Plot }}</p>
            </mat-card-content>
          </div>
        </div>
      </mat-card>

    </div>
  </div>
</ng-template>
</div>
</div>
