body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  padding-top: 150px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  text-align: center;
}

h1 {
  font-size: 120px;
  margin-bottom: 20px;
  color: #888;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.image {
  display: inline-block;
  vertical-align: middle;
}

.image img {
  max-width: 100%;
  height: auto;
}
