.mat-dialog-container  {
  background-color: #ffffff!important;
  border-radius: 10px!important;
  border: 10px solid rgba(255, 255, 255, 0.4)!important;
  box-shadow: 0 0 45px rgba(255, 255, 255, 0.5)!important;
  padding: 10px!important;
  margin-top: 10px!important;
  text-align: center!important;
  color: red!important;
}

.dialog-title {
  font-weight: bold;
  color: #051826;
}

.dialog-message {
  color: #051826;
}
